<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    </head>
<body>
    <h1>스테이지 카드 관리 페이지</h1>
    
    <!--{{cl}}-->
    <form method="POST" action="/curriculum_add">
        카드타입(1 = 설명, 2 = 문제):
        <select name="card_type">
            <option>1</option>
            <option>2</option>
        </select>
        <br/>
        <input type="number" name="card_level" min="1" max="10" placeholder="스테이지" style="width:120px"/>
        <input type="text" name="card_name" placeholder="카드 이름"/>
        <input type="text" name="card_front" placeholder="카드 앞면 설명"/>
        <div id="type1_form">
            <input type="text" name="card_back" placeholder="카드 뒷면 설명"/>
        </div>
        <div id="type2_form">
            <input type="text" name="card_content" placeholder="문제 입력"/>
            <input type="text" name="card_content" placeholder="정답 유무"/>
            <input type="button" id="back_problem_add" placeholder="문제 추가하기"/>
        </div>
        <input type="text" name="card_text" placeholder="카드 추가 설명"/>
        <input type="submit" value="카드 추가하기"/>
    </form>
    <br/><br/><br/>
    <table id="card_list" class="table table-bordered">
        <thead>
            <tr>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
            </tr>
    </table>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

<script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script>
    //var json = '{{cl|safe}}';
    var json = '';
    console.log(json);
    $('#card_list').DataTable({
        data: json
    });
</script>
</html>