<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    <script> num=1; 
        console.log(num);
    </script>
    <style>
    * {
        font-family: "GODO";
    }
    .swiper-container {
        width: 100%;
        height: 100%;
        
    }

    body,html {
        position: relative;
        height: 100%; 
        margin: auto; /* 화면 축소시 스크롤 방지 */
        background-image : url(../static/img/background.png);
        background-repeat: repeat;
    }

    .front2, .back2 {
        z-index:999;
        padding:20px;
        position: absolute;
        left: 50%; top: 53%;
        width: 75%; 
        height: 80%;
        backface-visibility: hidden;
        /* display: flex; */
        /* visibility:hidden; */
        /* justify-content: center; */
        align-items: center;
        color: #fff;
        transform: translate(-50%, -50%);
    }
        
    .front2 {
        background: #e8d5b7; 
    }
        
    .image_text_front, .image_text_back {
        color: white;
        position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);transition: .4s;transform-style: preserve-3d;
        z-index:999;
        word-break:keep-all;
        text-align:center;
        display:table-cell;
        vertical-align:middle;
        font-weight:bold;
        font-size:80px;
    }

    .image_text_back {
        font-size:30px;
    }

    .hint {
        width: 100%; 
        height: 100%; 
        position: relative;
        transition: .4s;
        transform-style: preserve-3d;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        height: 80%;
        border-radius: 20px;
        /* background-color : green; */
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../static/img/classBoard.png);
        background-size: 100% 100%;
        background-repeat: repeat;
    }

    .card {
        width: 100%; 
        height: 100%; 
        position: relative;
        transition: .4s;
        transform-style: preserve-3d;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 35%;
        height: 60%;
        background-image: url(../static/img/wordCard-1.png);
        background-size: 100% 100%;
        background-repeat: repeat;
    } 

    .bookmarkcard {
        width: 100%; 
        height: 100%; 
        position: relative;
        transition: .4s;
        transform-style: preserve-3d;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
        height: 65%;
        background-image: url(../static/img/wordCard-1.png);
        background-size: 100% 100%;
        background-repeat: repeat;
    } 

    .card_mini {
        width: 18%; 
        height: 250px; 
        position: relative;
        transition: .4s;
        transform-style: preserve-3d;
        /* transform: translate(-50%, -50%); */
        background-image: url(../static/img/wordCard-1.png);
        background-size: 100% 100%;
        background-repeat: repeat;
        display: inline-block;
    }

    .front, .back {
        font-weight : bold;
        position: absolute;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        height: 100%;
        backface-visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }

    .back { 
        transform: rotateY(180deg);
    }
    
    .btn_detail {
        width:10%; height:10%;transform:none;position:absolute;top:85%;left:95%
    }

    [type=radio] {
        border:5px solid brown;
    }

    .swiper-pagination-bullet {
        width : 20px;
        height : 20px;
    }
    </style>
</head>
<body>
    <div style="background-image: url('../static/img/background.png');background-repeat: repeat;width: 100%;height: 100%;"></div>
    <!-- 기본 이미지들 -->
    <img src="../static/img/way.png" 
    style="position: absolute;  left: 50%; top: 53%; 
    transform: translate(-50%, -50%);
    alt:way imege error; width:35%; height:70%;">

    <img id="logoutIcon" onclick="location.href='/logout';" src="../static/img/logoutIcon.png" 
    style="position: absolute;  right: 20%; top: 5%;" 
    width=5.8% height=10%; height:100px;">

    <!-- 북마크 시작 -->
    <div id="bookmarkDiv" class="front2" style="overflow-y:scroll;display:none">
        <!-- <div id="shadow" class="front2" style="visibility: hidden;background:black;top:50%;width:100%;height:100%;opacity: 0.8;"></div> -->
        <img id="closePop" onclick="close_pop()" src="../static/img/exit_Icon.png" style="position: absolute; right: 1%; top: 3%;" width=5% height=8% alt ="cookie1.png">
        <br><br><br>
        <!--북마크 나열 -->
        <div id="bookmarkhtml">
        </div>
    </div>
    <!-- 북마크 끝 ! -->
    <img id="wordBook" src="../static/img/wordBook.png" onclick="open_pop()" style="position: absolute;  right: 28%; top: 5%;" width="5%" height="12%";/>
    <img id="gingerMan0" src="../static/img/gingerMan.png" 
    style="position: absolute;  left: 60%; top: 77%;" 
    width="6%" height="15%;">
    <img src="../static/img/cookieHouse.png" 
    style="position: absolute;  left: 19%; top: -5%;" 
    width=20% height=40% alt ="cookieHouse.png">

    {% if clear_stage['stage1'] == 1 %}
    <img id="cookie1-1" src="../static/img/cookie1-1.png"
    style="position: absolute;  left: 50%; top: 80%;" 
    width=6% height=12% alt ="cookie1.png">
    {% else %}
    <a href="{{ url_for('cardstudy', stage=1) }}"><img id="cookie1" src="../static/img/cookie1.png" onClick="move_cookie1()"
        style="position: absolute;  left: 50%; top: 80%;" 
        width=6% height=12% alt ="cookie1.png"></a>
    {% endif %}

    {% if clear_stage['stage2'] == 1 %}
    <img id="cookie2-1" src="../static/img/cookie2-1.png" 
    style="position: absolute;  left: 40%; top: 80%;" 
    width=6% height=12% alt ="cookie2.png">
    {% else %}
    <a href="{{ url_for('cardstudy', stage=2) }}"><img id="cookie2" src="../static/img/cookie2.png" onClick="move_cookie2()"
        style="position: absolute;  left: 40%; top: 80%;" 
        width=6% height=12% alt ="cookie2.png"></a>
    {% endif %}

    {% if clear_stage['stage3'] == 1 %}
    <img id="cookie3-1" src="../static/img/cookie3-1.png"
    style="position: absolute;  left: 31%; top: 70%;" 
    width=8% height=15% alt ="cookie3.png">
    {% else %}
    <a href="{{ url_for('game') }}"><img id="cookie3" src="../static/img/cookie3.png" onClick="move_cookie3()"
        style="position: absolute;  left: 31%; top: 70%;" 
        width=8% height=15% alt ="cookie3.png"></a>
    {% endif %}

    {% if clear_stage['stage4'] == 1 %}
    <img id="cookie4-1" src="../static/img/cookie4-1.png"
    style="position: absolute;  left: 42%; top: 61%;" 
    width=7% height=14% alt ="cookie4.png">
    {% else %}
    <a href="{{ url_for('cardstudy', stage=4) }}"><img id="cookie4" src="../static/img/cookie4.png" onClick="move_cookie4()"
        style="position: absolute;  left: 42%; top: 61%;" 
        width=7% height=14% alt ="cookie4.png"></a>
    {% endif %}

    {% if clear_stage['stage5'] == 1 %}
    <img id="cookie5-1" src="../static/img/cookie5-1.png"
    style="position: absolute;  left: 51%; top: 63%;" 
    width=6% height=12%  alt ="cookie5.png">
    {% else %}
    <a href="{{ url_for('cardstudy', stage=5) }}"><img id="cookie5" src="../static/img/cookie5.png" onClick="move_cookie5()"
        style="position: absolute;  left: 51%; top: 63%;" 
        width=6% height=12%  alt ="cookie5.png"></a>
    {% endif %}

    {% if clear_stage['stage6'] == 1 %}
    <img id="cookie6-1" src="../static/img/cookie6-1.png"
    style="position: absolute;  left: 60%; top: 56%;" 
    width=9% height=15% alt ="cookie6.png">
    {% else %}
    <a href="{{ url_for('game') }}"><img id="cookie6" src="../static/img/cookie6.png" onClick="move_cookie6()"
        style="position: absolute;  left: 60%; top: 56%;" 
        width=9% height=15% alt ="cookie6.png"></a>
    {% endif %}

    {% if clear_stage['stage7'] == 1 %}
    <img id="cookie7-1" src="../static/img/cookie7-1.png"
    style="position: absolute;  left: 50%; top: 46%;" 
    width=7% height=14% alt ="cookie7.png">
    {% else %}
    <a href="{{ url_for('cardstudy', stage=7) }}"><img id="cookie7" src="../static/img/cookie7.png" onClick="move_cookie7()"
        style="position: absolute;  left: 49%; top: 46%;" 
        width=8% height=14% alt ="cookie7.png"></a>
    {% endif %}

    {% if clear_stage['stage8'] == 1 %}
    <img id="cookie8-1" src="../static/img/cookie8-1.png"
    style="position: absolute;  left: 40%; top: 48%;" 
    width=7% height=12.5% alt ="cookie8.png">
    {% else %}
    <a href="{{ url_for('cardstudy', stage=8) }}"><img id="cookie8" src="../static/img/cookie8.png" onClick="move_cookie8()"
        style="position: absolute;  left: 40%; top: 48%;" 
        width=7% height=12.5% alt ="cookie8.png"></a>
    {% endif %}

    {% if clear_stage['stage9'] == 1 %}
    <img id="cookie9-1" src="../static/img/cookie9-1.png"
    style="position: absolute;  left: 30%; top: 39%;" 
    width=8% height=15% alt ="cookie9.png">
    {% else %}
    <a href="{{ url_for('game') }}"><img id="cookie9" src="../static/img/cookie9.png" onClick="move_cookie9()"
        style="position: absolute;  left: 30%; top: 39%;" 
        width=8% height=15% alt ="cookie9.png"></a>
    {% endif %}

    {% if clear_stage['stage10'] == 1 %}
    <img id="cookie10-1" src="../static/img/cookie10-1.png"
    style="position: absolute;  left: 40%; top: 30%;" 
    width=6.5% height=13%  alt ="cookie10.png">
    {% else %}
    <a href="{{ url_for('cardstudy', stage=10) }}"><img id="cookie10" src="../static/img/cookie10.png" onClick="move_cookie10()"
        style="position: absolute;  left: 40%; top: 30%;" 
        width=6.5% height=13%  alt ="cookie10.png"></a>
    {% endif %}

    {% if clear_stage['stage11'] == 1 %}
    <img id="cookie11-1" src="../static/img/cookie11-1.png"
    style="position: absolute;  left: 50%; top: 32%;" 
    width=6% height=12%  alt ="cookie11.png">
    {% else %}
    <a href="{{ url_for('cardstudy', stage=11) }}"><img id="cookie11" src="../static/img/cookie11.png" onClick="move_cookie11()"
        style="position: absolute;  left: 50%; top: 32%;" 
        width=6% height=12%  alt ="cookie11.png"></a>
    {% endif %}

    {% if clear_stage['stage12'] == 1 %}
    <img id="cookie12-1" src="../static/img/cookie12-1.png"
    style="position: absolute;  left: 58%; top: 30%;" 
    width=9.5% height=17%  alt ="cookie12.png">
    {% else %}
    <a href="{{ url_for('game') }}"><img id="cookie12" src="../static/img/cookie12.png" onClick="move_cookie12()"
        style="position: absolute;  left: 58%; top: 30%;" 
        width=9.5% height=17%  alt ="cookie12.png"></a>
    {% endif %}

    {% if clear_stage['stage13'] == 1 %}
    <img id="cookie13-1" src="../static/img/cookie13-1.png"
    style="position: absolute; left: 57%; top: 15%;" 
    width=7% height=13%  alt ="cookie13.png">
    {% else %}
    <a href="{{ url_for('finalStudy1') }}"><img id="cookie13" src="../static/img/cookie13.png" onClick="move_cookie13()"style="position: absolute; left: 57%; top: 15%;" width=7% height=13%  alt ="cookie13.png"></a>
    {% endif %}

    {% if clear_stage['stage14'] == 1 %}
    <img id="cookie14-1" src="../static/img/cookie14-1.png"
    style="position: absolute;  left: 46%; top: 13%;" 
    width=7% height=14%  alt ="cookie14.png">
    {% else %}
    <a href="{{ url_for('finalStudy2') }}"><img id="cookie14" src="../static/img/cookie14.png" onClick="move_cookie14()" style="position: absolute;  left: 46%; top: 13%;" width=7% height=14%  alt ="cookie14.png"></a>
    {% endif %}

    {% if clear_stage['stage15'] == 1 %}
    <img id="cookie15-1" src="../static/img/cookie15-1.png"
    style="position: absolute; left: 37%; top: 15%;" 
    width=7% height=12.5%  alt ="cookie15.png">
    {% else %}
    <a href="{{ url_for('finalStudy3') }}"><img id="cookie15" src="../static/img/cookie15.png" onClick="move_cookie15()" style="position: absolute; left: 37%; top: 15%;" width=7% height=12.5%  alt ="cookie15.png"></a>
    {% endif %}
    <!-- 각 강 별 진저맨 위치  -->
    <img id="gingerMan1" src="../static/img/gingerMan.png" 
    style="position: absolute;  left: 50%; top: 73%;" 
    width=6% height=15%;">
    <img id="gingerMan2" src="../static/img/gingerMan.png" 
    style="position: absolute;  left: 41%; top: 73%;" 
    width=6% height=15%;">
    <img id="gingerMan3" src="../static/img/gingerMan.png" 
    style="position: absolute;  left: 32%; top: 63%;" 
    width=6% height=15%;">
    <img id="gingerMan4" src="../static/img/gingerMan.png" 
    style="position: absolute;  left: 42.5%; top: 55%;" 
    width=6% height=15%;">
    <img id="gingerMan5" src="../static/img/gingerMan.png" 
    style="position: absolute;  left: 52%; top: 56%;" 
    width=6% height=15%;">
    <img id="gingerMan6" src="../static/img/gingerMan.png" 
    style="position: absolute;  left: 61.5%; top: 50%;" 
    width=6% height=15%;">
    <img id="gingerMan7" src="../static/img/gingerMan.png" 
    style="position: absolute;  left: 51%; top: 40%;" 
    width=6% height=15%;">
    <img id="gingerMan8" src="../static/img/gingerMan.png" 
    style="position: absolute;  left: 40.5%; top: 41%;" 
    width=6% height=15%;">
    <img id="gingerMan9" src="../static/img/gingerMan.png" 
    style="position: absolute;  left: 31%; top: 33%;" 
    width=6% height=15%;">
    <img id="gingerMan10" src="../static/img/gingerMan.png" 
    style="position: absolute;  left: 40%; top: 24%;" 
    width=6% height=15%;">
    <img id="gingerMan11" src="../static/img/gingerMan.png" 
    style="position: absolute;  left: 50%; top: 25%;" 
    width=6% height=15%;">
    <img id="gingerMan12" src="../static/img/gingerMan.png" 
    style="position: absolute;  left: 60.5%; top: 25%;" 
    width=6% height=15%;">
    <img id="gingerMan13" src="../static/img/gingerMan.png" 
    style="position: absolute;  left: 57.5%; top: 8%;" 
    width=6% height=15%;">
    <img id="gingerMan14" src="../static/img/gingerMan.png" 
    style="position: absolute;  left: 47%; top: 7%;" 
    width=6% height=15%;">
    <img id="gingerMan15" src="../static/img/gingerMan.png" 
    style="position: absolute;  left: 37.5%; top: 7%;" 
    width=6% height=15%;">

    <!-- 클릭마다 강 별 진저맨 위치 변경 및 쿠키색 변경  -->
    <script>
        // 위치별 진저맨 안보이게하기
        document.getElementById("gingerMan1").style.visibility = "hidden"; 
        document.getElementById("gingerMan2").style.visibility = "hidden"; 
        document.getElementById("gingerMan3").style.visibility = "hidden"; 
        document.getElementById("gingerMan4").style.visibility = "hidden"; 
        document.getElementById("gingerMan5").style.visibility = "hidden"; 
        document.getElementById("gingerMan6").style.visibility = "hidden"; 
        document.getElementById("gingerMan7").style.visibility = "hidden"; 
        document.getElementById("gingerMan8").style.visibility = "hidden"; 
        document.getElementById("gingerMan9").style.visibility = "hidden"; 
        document.getElementById("gingerMan10").style.visibility = "hidden"; 
        document.getElementById("gingerMan11").style.visibility = "hidden"; 
        document.getElementById("gingerMan12").style.visibility = "hidden"; 
        document.getElementById("gingerMan13").style.visibility = "hidden"; 
        document.getElementById("gingerMan14").style.visibility = "hidden"; 
        document.getElementById("gingerMan15").style.visibility = "hidden";

        function move_cookie1() {
            const img1 = document.getElementById('gingerMan0');
            const img2 = document.getElementById('gingerMan1');
            const img3 = document.getElementById('gingerMan2');
            const img4 = document.getElementById('gingerMan3');
            const img5 = document.getElementById('gingerMan4');
            const img6 = document.getElementById('gingerMan5');
            const img7 = document.getElementById('gingerMan6');
            const img8 = document.getElementById('gingerMan7');
            const img9 = document.getElementById('gingerMan8');
            const img10 = document.getElementById('gingerMan9');
            const img11 = document.getElementById('gingerMan10');
            const img12 = document.getElementById('gingerMan11');
            const img13 = document.getElementById('gingerMan12');
            const img14 = document.getElementById('gingerMan13');
            const img15 = document.getElementById('gingerMan14');
            const img16 = document.getElementById('gingerMan15');

            // 진저맨 숨기고 다음위치 나타내기 (visibility: hidden)
            img1.style.visibility = 'hidden';
            img2.style.visibility = 'visible';
            img3.style.visibility = 'hidden';
            img4.style.visibility = 'hidden';
            img5.style.visibility = 'hidden';
            img6.style.visibility = 'hidden';
            img7.style.visibility = 'hidden';
            img8.style.visibility = 'hidden';
            img9.style.visibility = 'hidden';
            img10.style.visibility = 'hidden';
            img11.style.visibility = 'hidden';
            img12.style.visibility = 'hidden';
            img13.style.visibility = 'hidden';
            img14.style.visibility = 'hidden';
            img15.style.visibility = 'hidden';
            img16.style.visibility = 'hidden';
        }
        function move_cookie2() {
            const img1 = document.getElementById('gingerMan0');
            const img2 = document.getElementById('gingerMan1');
            const img3 = document.getElementById('gingerMan2');
            const img4 = document.getElementById('gingerMan3');
            const img5 = document.getElementById('gingerMan4');
            const img6 = document.getElementById('gingerMan5');
            const img7 = document.getElementById('gingerMan6');
            const img8 = document.getElementById('gingerMan7');
            const img9 = document.getElementById('gingerMan8');
            const img10 = document.getElementById('gingerMan9');
            const img11 = document.getElementById('gingerMan10');
            const img12 = document.getElementById('gingerMan11');
            const img13 = document.getElementById('gingerMan12');
            const img14 = document.getElementById('gingerMan13');
            const img15 = document.getElementById('gingerMan14');
            const img16 = document.getElementById('gingerMan15');

            // 진저맨 숨기고 다음위치 나타내기 (visibility: hidden)
            img1.style.visibility = 'hidden';
            img2.style.visibility = 'hidden';
            img3.style.visibility = 'visible';
            img4.style.visibility = 'hidden';
            img5.style.visibility = 'hidden';
            img6.style.visibility = 'hidden';
            img7.style.visibility = 'hidden';
            img8.style.visibility = 'hidden';
            img9.style.visibility = 'hidden';
            img10.style.visibility = 'hidden';
            img11.style.visibility = 'hidden';
            img12.style.visibility = 'hidden';
            img13.style.visibility = 'hidden';
            img14.style.visibility = 'hidden';
            img15.style.visibility = 'hidden';
            img16.style.visibility = 'hidden';
        }
        function move_cookie3() {
            const img1 = document.getElementById('gingerMan0');
            const img2 = document.getElementById('gingerMan1');
            const img3 = document.getElementById('gingerMan2');
            const img4 = document.getElementById('gingerMan3');
            const img5 = document.getElementById('gingerMan4');
            const img6 = document.getElementById('gingerMan5');
            const img7 = document.getElementById('gingerMan6');
            const img8 = document.getElementById('gingerMan7');
            const img9 = document.getElementById('gingerMan8');
            const img10 = document.getElementById('gingerMan9');
            const img11 = document.getElementById('gingerMan10');
            const img12 = document.getElementById('gingerMan11');
            const img13 = document.getElementById('gingerMan12');
            const img14 = document.getElementById('gingerMan13');
            const img15 = document.getElementById('gingerMan14');
            const img16 = document.getElementById('gingerMan15');

            // 진저맨 숨기고 다음위치 나타내기 (visibility: hidden)
            img1.style.visibility = 'hidden';
            img2.style.visibility = 'hidden';
            img3.style.visibility = 'hidden';
            img4.style.visibility = 'visible';
            img5.style.visibility = 'hidden';
            img6.style.visibility = 'hidden';
            img7.style.visibility = 'hidden';
            img8.style.visibility = 'hidden';
            img9.style.visibility = 'hidden';
            img10.style.visibility = 'hidden';
            img11.style.visibility = 'hidden';
            img12.style.visibility = 'hidden';
            img13.style.visibility = 'hidden';
            img14.style.visibility = 'hidden';
            img15.style.visibility = 'hidden';
            img16.style.visibility = 'hidden';
        }
        function move_cookie4() {
            const img1 = document.getElementById('gingerMan0');
            const img2 = document.getElementById('gingerMan1');
            const img3 = document.getElementById('gingerMan2');
            const img4 = document.getElementById('gingerMan3');
            const img5 = document.getElementById('gingerMan4');
            const img6 = document.getElementById('gingerMan5');
            const img7 = document.getElementById('gingerMan6');
            const img8 = document.getElementById('gingerMan7');
            const img9 = document.getElementById('gingerMan8');
            const img10 = document.getElementById('gingerMan9');
            const img11 = document.getElementById('gingerMan10');
            const img12 = document.getElementById('gingerMan11');
            const img13 = document.getElementById('gingerMan12');
            const img14 = document.getElementById('gingerMan13');
            const img15 = document.getElementById('gingerMan14');
            const img16 = document.getElementById('gingerMan15');

            // 진저맨 숨기고 다음위치 나타내기 (visibility: hidden)
            img1.style.visibility = 'hidden';
            img2.style.visibility = 'hidden';
            img3.style.visibility = 'hidden';
            img4.style.visibility = 'hidden';
            img5.style.visibility = 'visible';
            img6.style.visibility = 'hidden';
            img7.style.visibility = 'hidden';
            img8.style.visibility = 'hidden';
            img9.style.visibility = 'hidden';
            img10.style.visibility = 'hidden';
            img11.style.visibility = 'hidden';
            img12.style.visibility = 'hidden';
            img13.style.visibility = 'hidden';
            img14.style.visibility = 'hidden';
            img15.style.visibility = 'hidden';
            img16.style.visibility = 'hidden';

        }
        function move_cookie5() {
            const img1 = document.getElementById('gingerMan0');
            const img2 = document.getElementById('gingerMan1');
            const img3 = document.getElementById('gingerMan2');
            const img4 = document.getElementById('gingerMan3');
            const img5 = document.getElementById('gingerMan4');
            const img6 = document.getElementById('gingerMan5');
            const img7 = document.getElementById('gingerMan6');
            const img8 = document.getElementById('gingerMan7');
            const img9 = document.getElementById('gingerMan8');
            const img10 = document.getElementById('gingerMan9');
            const img11 = document.getElementById('gingerMan10');
            const img12 = document.getElementById('gingerMan11');
            const img13 = document.getElementById('gingerMan12');
            const img14 = document.getElementById('gingerMan13');
            const img15 = document.getElementById('gingerMan14');
            const img16 = document.getElementById('gingerMan15');

            // 진저맨 숨기고 다음위치 나타내기 (visibility: hidden)
            img1.style.visibility = 'hidden';
            img2.style.visibility = 'hidden';
            img3.style.visibility = 'hidden';
            img4.style.visibility = 'hidden';
            img5.style.visibility = 'hidden';
            img6.style.visibility = 'visible';
            img7.style.visibility = 'hidden';
            img8.style.visibility = 'hidden';
            img9.style.visibility = 'hidden';
            img10.style.visibility = 'hidden';
            img11.style.visibility = 'hidden';
            img12.style.visibility = 'hidden';
            img13.style.visibility = 'hidden';
            img14.style.visibility = 'hidden';
            img15.style.visibility = 'hidden';
            img16.style.visibility = 'hidden';

        }
        function move_cookie6() {
            const img1 = document.getElementById('gingerMan0');
            const img2 = document.getElementById('gingerMan1');
            const img3 = document.getElementById('gingerMan2');
            const img4 = document.getElementById('gingerMan3');
            const img5 = document.getElementById('gingerMan4');
            const img6 = document.getElementById('gingerMan5');
            const img7 = document.getElementById('gingerMan6');
            const img8 = document.getElementById('gingerMan7');
            const img9 = document.getElementById('gingerMan8');
            const img10 = document.getElementById('gingerMan9');
            const img11 = document.getElementById('gingerMan10');
            const img12 = document.getElementById('gingerMan11');
            const img13 = document.getElementById('gingerMan12');
            const img14 = document.getElementById('gingerMan13');
            const img15 = document.getElementById('gingerMan14');
            const img16 = document.getElementById('gingerMan15');

            // 진저맨 숨기고 다음위치 나타내기 (visibility: hidden)
            img1.style.visibility = 'hidden';
            img2.style.visibility = 'hidden';
            img3.style.visibility = 'hidden';
            img4.style.visibility = 'hidden';
            img5.style.visibility = 'hidden';
            img6.style.visibility = 'hidden';
            img7.style.visibility = 'visible';
            img8.style.visibility = 'hidden';
            img9.style.visibility = 'hidden';
            img10.style.visibility = 'hidden';
            img11.style.visibility = 'hidden';
            img12.style.visibility = 'hidden';
            img13.style.visibility = 'hidden';
            img14.style.visibility = 'hidden';
            img15.style.visibility = 'hidden';
            img16.style.visibility = 'hidden';

        }
        function move_cookie7() {
            const img1 = document.getElementById('gingerMan0');
            const img2 = document.getElementById('gingerMan1');
            const img3 = document.getElementById('gingerMan2');
            const img4 = document.getElementById('gingerMan3');
            const img5 = document.getElementById('gingerMan4');
            const img6 = document.getElementById('gingerMan5');
            const img7 = document.getElementById('gingerMan6');
            const img8 = document.getElementById('gingerMan7');
            const img9 = document.getElementById('gingerMan8');
            const img10 = document.getElementById('gingerMan9');
            const img11 = document.getElementById('gingerMan10');
            const img12 = document.getElementById('gingerMan11');
            const img13 = document.getElementById('gingerMan12');
            const img14 = document.getElementById('gingerMan13');
            const img15 = document.getElementById('gingerMan14');
            const img16 = document.getElementById('gingerMan15');

            // 진저맨 숨기고 다음위치 나타내기 (visibility: hidden)
            img1.style.visibility = 'hidden';
            img2.style.visibility = 'hidden';
            img3.style.visibility = 'hidden';
            img4.style.visibility = 'hidden';
            img5.style.visibility = 'hidden';
            img6.style.visibility = 'hidden';
            img7.style.visibility = 'hidden';
            img8.style.visibility = 'visible';
            img9.style.visibility = 'hidden';
            img10.style.visibility = 'hidden';
            img11.style.visibility = 'hidden';
            img12.style.visibility = 'hidden';
            img13.style.visibility = 'hidden';
            img14.style.visibility = 'hidden';
            img15.style.visibility = 'hidden';
            img16.style.visibility = 'hidden';


        }
        function move_cookie8() {
            const img1 = document.getElementById('gingerMan0');
            const img2 = document.getElementById('gingerMan1');
            const img3 = document.getElementById('gingerMan2');
            const img4 = document.getElementById('gingerMan3');
            const img5 = document.getElementById('gingerMan4');
            const img6 = document.getElementById('gingerMan5');
            const img7 = document.getElementById('gingerMan6');
            const img8 = document.getElementById('gingerMan7');
            const img9 = document.getElementById('gingerMan8');
            const img10 = document.getElementById('gingerMan9');
            const img11 = document.getElementById('gingerMan10');
            const img12 = document.getElementById('gingerMan11');
            const img13 = document.getElementById('gingerMan12');
            const img14 = document.getElementById('gingerMan13');
            const img15 = document.getElementById('gingerMan14');
            const img16 = document.getElementById('gingerMan15');

            // 진저맨 숨기고 다음위치 나타내기 (visibility: hidden)
            img1.style.visibility = 'hidden';
            img2.style.visibility = 'hidden';
            img3.style.visibility = 'hidden';
            img4.style.visibility = 'hidden';
            img5.style.visibility = 'hidden';
            img6.style.visibility = 'hidden';
            img7.style.visibility = 'hidden';
            img8.style.visibility = 'hidden';
            img9.style.visibility = 'visible';
            img10.style.visibility = 'hidden';
            img11.style.visibility = 'hidden';
            img12.style.visibility = 'hidden';
            img13.style.visibility = 'hidden';
            img14.style.visibility = 'hidden';
            img15.style.visibility = 'hidden';
            img16.style.visibility = 'hidden';

        }
        function move_cookie9() {
            const img1 = document.getElementById('gingerMan0');
            const img2 = document.getElementById('gingerMan1');
            const img3 = document.getElementById('gingerMan2');
            const img4 = document.getElementById('gingerMan3');
            const img5 = document.getElementById('gingerMan4');
            const img6 = document.getElementById('gingerMan5');
            const img7 = document.getElementById('gingerMan6');
            const img8 = document.getElementById('gingerMan7');
            const img9 = document.getElementById('gingerMan8');
            const img10 = document.getElementById('gingerMan9');
            const img11 = document.getElementById('gingerMan10');
            const img12 = document.getElementById('gingerMan11');
            const img13 = document.getElementById('gingerMan12');
            const img14 = document.getElementById('gingerMan13');
            const img15 = document.getElementById('gingerMan14');
            const img16 = document.getElementById('gingerMan15');

            // 진저맨 숨기고 다음위치 나타내기 (visibility: hidden)
            img1.style.visibility = 'hidden';
            img2.style.visibility = 'hidden';
            img3.style.visibility = 'hidden';
            img4.style.visibility = 'hidden';
            img5.style.visibility = 'hidden';
            img6.style.visibility = 'hidden';
            img7.style.visibility = 'hidden';
            img8.style.visibility = 'hidden';
            img9.style.visibility = 'hidden';
            img10.style.visibility = 'visible';
            img11.style.visibility = 'hidden';
            img12.style.visibility = 'hidden';
            img13.style.visibility = 'hidden';
            img14.style.visibility = 'hidden';
            img15.style.visibility = 'hidden';
            img16.style.visibility = 'hidden';
        }
        function move_cookie10() {
            const img1 = document.getElementById('gingerMan0');
            const img2 = document.getElementById('gingerMan1');
            const img3 = document.getElementById('gingerMan2');
            const img4 = document.getElementById('gingerMan3');
            const img5 = document.getElementById('gingerMan4');
            const img6 = document.getElementById('gingerMan5');
            const img7 = document.getElementById('gingerMan6');
            const img8 = document.getElementById('gingerMan7');
            const img9 = document.getElementById('gingerMan8');
            const img10 = document.getElementById('gingerMan9');
            const img11 = document.getElementById('gingerMan10');
            const img12 = document.getElementById('gingerMan11');
            const img13 = document.getElementById('gingerMan12');
            const img14 = document.getElementById('gingerMan13');
            const img15 = document.getElementById('gingerMan14');
            const img16 = document.getElementById('gingerMan15');

            // 진저맨 숨기고 다음위치 나타내기 (visibility: hidden)
            img1.style.visibility = 'hidden';
            img2.style.visibility = 'hidden';
            img3.style.visibility = 'hidden';
            img4.style.visibility = 'hidden';
            img5.style.visibility = 'hidden';
            img6.style.visibility = 'hidden';
            img7.style.visibility = 'hidden';
            img8.style.visibility = 'hidden';
            img9.style.visibility = 'hidden';
            img10.style.visibility = 'hidden';
            img11.style.visibility = 'visible';
            img12.style.visibility = 'hidden';
            img13.style.visibility = 'hidden';
            img14.style.visibility = 'hidden';
            img15.style.visibility = 'hidden';
            img16.style.visibility = 'hidden';
        }
        function move_cookie11() {
            const img1 = document.getElementById('gingerMan0');
            const img2 = document.getElementById('gingerMan1');
            const img3 = document.getElementById('gingerMan2');
            const img4 = document.getElementById('gingerMan3');
            const img5 = document.getElementById('gingerMan4');
            const img6 = document.getElementById('gingerMan5');
            const img7 = document.getElementById('gingerMan6');
            const img8 = document.getElementById('gingerMan7');
            const img9 = document.getElementById('gingerMan8');
            const img10 = document.getElementById('gingerMan9');
            const img11 = document.getElementById('gingerMan10');
            const img12 = document.getElementById('gingerMan11');
            const img13 = document.getElementById('gingerMan12');
            const img14 = document.getElementById('gingerMan13');
            const img15 = document.getElementById('gingerMan14');
            const img16 = document.getElementById('gingerMan15');

            // 진저맨 숨기고 다음위치 나타내기 (visibility: hidden)
            img1.style.visibility = 'hidden';
            img2.style.visibility = 'hidden';
            img3.style.visibility = 'hidden';
            img4.style.visibility = 'hidden';
            img5.style.visibility = 'hidden';
            img6.style.visibility = 'hidden';
            img7.style.visibility = 'hidden';
            img8.style.visibility = 'hidden';
            img9.style.visibility = 'hidden';
            img10.style.visibility = 'hidden';
            img11.style.visibility = 'hidden';
            img12.style.visibility = 'visible';
            img13.style.visibility = 'hidden';
            img14.style.visibility = 'hidden';
            img15.style.visibility = 'hidden';
            img16.style.visibility = 'hidden';

        }
        function move_cookie12() {
            const img1 = document.getElementById('gingerMan0');
            const img2 = document.getElementById('gingerMan1');
            const img3 = document.getElementById('gingerMan2');
            const img4 = document.getElementById('gingerMan3');
            const img5 = document.getElementById('gingerMan4');
            const img6 = document.getElementById('gingerMan5');
            const img7 = document.getElementById('gingerMan6');
            const img8 = document.getElementById('gingerMan7');
            const img9 = document.getElementById('gingerMan8');
            const img10 = document.getElementById('gingerMan9');
            const img11 = document.getElementById('gingerMan10');
            const img12 = document.getElementById('gingerMan11');
            const img13 = document.getElementById('gingerMan12');
            const img14 = document.getElementById('gingerMan13');
            const img15 = document.getElementById('gingerMan14');
            const img16 = document.getElementById('gingerMan15');

            // 진저맨 숨기고 다음위치 나타내기 (visibility: hidden)
            img1.style.visibility = 'hidden';
            img2.style.visibility = 'hidden';
            img3.style.visibility = 'hidden';
            img4.style.visibility = 'hidden';
            img5.style.visibility = 'hidden';
            img6.style.visibility = 'hidden';
            img7.style.visibility = 'hidden';
            img8.style.visibility = 'hidden';
            img9.style.visibility = 'hidden';
            img10.style.visibility = 'hidden';
            img11.style.visibility = 'hidden';
            img12.style.visibility = 'hidden';
            img13.style.visibility = 'visible';
            img14.style.visibility = 'hidden';
            img15.style.visibility = 'hidden';
            img16.style.visibility = 'hidden';
        }
        function move_cookie13() {
            const img1 = document.getElementById('gingerMan0');
            const img2 = document.getElementById('gingerMan1');
            const img3 = document.getElementById('gingerMan2');
            const img4 = document.getElementById('gingerMan3');
            const img5 = document.getElementById('gingerMan4');
            const img6 = document.getElementById('gingerMan5');
            const img7 = document.getElementById('gingerMan6');
            const img8 = document.getElementById('gingerMan7');
            const img9 = document.getElementById('gingerMan8');
            const img10 = document.getElementById('gingerMan9');
            const img11 = document.getElementById('gingerMan10');
            const img12 = document.getElementById('gingerMan11');
            const img13 = document.getElementById('gingerMan12');
            const img14 = document.getElementById('gingerMan13');
            const img15 = document.getElementById('gingerMan14');
            const img16 = document.getElementById('gingerMan15');

            // 진저맨 숨기고 다음위치 나타내기 (visibility: hidden)
            img1.style.visibility = 'hidden';
            img2.style.visibility = 'hidden';
            img3.style.visibility = 'hidden';
            img4.style.visibility = 'hidden';
            img5.style.visibility = 'hidden';
            img6.style.visibility = 'hidden';
            img7.style.visibility = 'hidden';
            img8.style.visibility = 'hidden';
            img9.style.visibility = 'hidden';
            img10.style.visibility = 'hidden';
            img11.style.visibility = 'hidden';
            img12.style.visibility = 'hidden';
            img13.style.visibility = 'hidden';
            img14.style.visibility = 'visible';
            img15.style.visibility = 'hidden';
            img16.style.visibility = 'hidden';
        }
        function move_cookie14() {
            const img1 = document.getElementById('gingerMan0');
            const img2 = document.getElementById('gingerMan1');
            const img3 = document.getElementById('gingerMan2');
            const img4 = document.getElementById('gingerMan3');
            const img5 = document.getElementById('gingerMan4');
            const img6 = document.getElementById('gingerMan5');
            const img7 = document.getElementById('gingerMan6');
            const img8 = document.getElementById('gingerMan7');
            const img9 = document.getElementById('gingerMan8');
            const img10 = document.getElementById('gingerMan9');
            const img11 = document.getElementById('gingerMan10');
            const img12 = document.getElementById('gingerMan11');
            const img13 = document.getElementById('gingerMan12');
            const img14 = document.getElementById('gingerMan13');
            const img15 = document.getElementById('gingerMan14');
            const img16 = document.getElementById('gingerMan15');

            // 진저맨 숨기고 다음위치 나타내기 (visibility: hidden)
            img1.style.visibility = 'hidden';
            img2.style.visibility = 'hidden';
            img3.style.visibility = 'hidden';
            img4.style.visibility = 'hidden';
            img5.style.visibility = 'hidden';
            img6.style.visibility = 'hidden';
            img7.style.visibility = 'hidden';
            img8.style.visibility = 'hidden';
            img9.style.visibility = 'hidden';
            img10.style.visibility = 'hidden';
            img11.style.visibility = 'hidden';
            img12.style.visibility = 'hidden';
            img13.style.visibility = 'hidden';
            img14.style.visibility = 'hidden';
            img15.style.visibility = 'visible';
            img16.style.visibility = 'hidden';
        }
        function move_cookie15() {
            const img1 = document.getElementById('gingerMan0');
            const img2 = document.getElementById('gingerMan1');
            const img3 = document.getElementById('gingerMan2');
            const img4 = document.getElementById('gingerMan3');
            const img5 = document.getElementById('gingerMan4');
            const img6 = document.getElementById('gingerMan5');
            const img7 = document.getElementById('gingerMan6');
            const img8 = document.getElementById('gingerMan7');
            const img9 = document.getElementById('gingerMan8');
            const img10 = document.getElementById('gingerMan9');
            const img11 = document.getElementById('gingerMan10');
            const img12 = document.getElementById('gingerMan11');
            const img13 = document.getElementById('gingerMan12');
            const img14 = document.getElementById('gingerMan13');
            const img15 = document.getElementById('gingerMan14');
            const img16 = document.getElementById('gingerMan15');

            // 진저맨 숨기고 다음위치 나타내기 (visibility: hidden)
            img1.style.visibility = 'hidden';
            img2.style.visibility = 'hidden';
            img3.style.visibility = 'hidden';
            img4.style.visibility = 'hidden';
            img5.style.visibility = 'hidden';
            img6.style.visibility = 'hidden';
            img7.style.visibility = 'hidden';
            img8.style.visibility = 'hidden';
            img9.style.visibility = 'hidden';
            img10.style.visibility = 'hidden';
            img11.style.visibility = 'hidden';
            img12.style.visibility = 'hidden';
            img13.style.visibility = 'hidden';
            img14.style.visibility = 'hidden';
            img15.style.visibility = 'hidden';
            img16.style.visibility = 'visible';
        }
    </script>

    <py-script>

        input_text = Element("input_text")
        output_text = Element("output_text")
  
        def function_add_number(*args):
          output_text.element.innerText = input_text.value
      </py-script>    

      <script>
        function open_pop(){
            //북마크 정보 갱신
            $.ajax({
				type: "GET",
				url: "/bookmark_load",
				cache: false,
				async: false,
				success: function(result) {
                    $("#bookmarkhtml").html("");
                    for(var i = 0; i < result.length; i++) {
                        //alert("북마크"+i+": "+result[i]["card"]["card_level"]+"-"+result[i]["card"]["card_temp"]);
                        //동적 추가
                        if(result[i]["card"]["card_type"] == "1") {
                            //카드 유형1
                            $("#bookmarkhtml").append("<div id='bookMarkCard"+i+"' class='card_mini' py-click ='function_bookMarkCardD' onclick='location=\"/cardstudy?stage="+result[i]["card"]["card_level"]+"&temp="+result[i]["card"]["card_temp"]+"\";'><div class='front' style='font-size:15px;'>["+result[i]["card"]["card_level"]+"강 "+result[i]["card"]["card_temp"]+"번 카드]</div></div>");
                        } else if(result[i]["card"]["card_type"] == "2") {
                            //카드 유형2
                            $("#bookmarkhtml").append("<div id='bookMarkCard"+i+"' class='card_mini' py-click ='function_bookMarkCardD' onclick='location=\"/cardstudy?stage="+result[i]["card"]["card_level"]+"&temp="+result[i]["card"]["card_temp"]+"\";'><div class='front' style='flex-direction:column; font-size:15px;text-align:left;'><div>["+result[i]["card"]["card_level"]+"강 "+result[i]["card"]["card_temp"]+"번 카드]");
                        }
                        
                        $("#bookmarkDiv").show();
                    }
                    
                    
                    //이동
				}
			});

        }

        function close_pop(){
            $("#bookmarkDiv").hide();
        }
      </script>
</body>